#link-lens-popup {
    position: absolute;
    z-index: 2147483647;
    width: max-content;
    max-width: 350px;
    /* height: auto !important;
    min-height: 0 !important; */
    padding: 15px;
    background-color: #1e1e1e;
    color: #efefef;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    pointer-events: none;
    border: 1px solid #444;
    font-family: sans-serif;
    display: none; 
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 50%;
    border-top-color: #ff6200;
    animation: spin 1s ease-in-out infinite;
    margin-bottom: 10px;
    display: inline-block;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}